{% load static %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Aplikacja do nauki słówek{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'Word_Trainer/css/style.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'Word_Trainer/images/logo.png' %}" alt="Banner aplikacji">
        <h1>Aplikacja do nauki angielskich słówek</h1>
        <nav>
            <!-- <a href="{% url 'learn_english' %}">Powtarzaj</a> -->
            {% if user.is_authenticated %}
                Witaj, {{ user.username }} |
                <a href="{% url 'logout' %}">Wyloguj</a>
            {% else %}
                <a href="{% url 'login' %}">Logowanie</a>
                <a href="{% url 'register' %}">Rejestracja</a>
            {% endif %}
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        &copy; 2025 Aplikacja Django do nauki angielskich słówek
    </footer>
</body>
</html>